body {
 background-image: url("https://cdn.staticcrate.com/stock-hd/effects/footagecrate-4k-looping-tech-background-clean-blue-2-prev-full.png");
}

h3 {
  color: #d7d9db;
}

h1 {
  color: white;
  font-weight: bold;
}

img {
  border-radius: 10%;
}

.paragraph {
  background-color: ;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  color: white; 
}
